*{
    padding:0px;
    margin:10px;
}
:root{
    --cor1:#F2C299;
    --cor2:#F2A679;
    --cor3:#A62F03;
    --cor5:#730C02;
    --cor6:#400101;
    --cor7:#F7DEE1;
}
body{
   background-color: var(--cor7);
}
header{
    background-color: var(--cor2);
    padding:0px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
header h1{
    color: var(--cor3);
    font-size: 2.5em;
    text-shadow: 2px 2px 5px var(--cor1);
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

}
nav{
    background-color: var(--cor3);
    padding:0px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
}

nav a{
    color: var(--cor2);
    text-decoration: none;
    font-size: 1.2em;
    padding: 0px 10px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    letter-spacing: 1px;
    font-weight: 600;
    &:hover{
        color: var(--cor6);
    }
}
 nav li{
    list-style-type: none;
 }
 img{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
 }